<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
        <dict>
            <key>thumbnail</key>
            <string>http://wx2.sinaimg.cn/thumb150/78d702b2gy1fk070eb2p7j210m0m8wqv.jpg</string>
            <key>large</key>
            <string>http://wx2.sinaimg.cn/mw690/78d702b2gy1fk070eb2p7j210m0m8wqv.jpg</string>
        </dict>
        <dict>
            <key>thumbnail</key>
            <string>http://wx3.sinaimg.cn/thumb150/78d702b2gy1fk0711tqdoj20xn0m8amj.jpg</string>
            <key>large</key>
            <string>http://wx3.sinaimg.cn/mw690/78d702b2gy1fk0711tqdoj20xn0m8amj.jpg</string>
        </dict>
        <dict>
            <key>thumbnail</key>
            <string>http://wx1.sinaimg.cn/thumb150/78d702b2gy1fk070f5fmuj20m80ui15i.jpg</string>
            <key>large</key>
            <string>http://wx1.sinaimg.cn/mw690/78d702b2gy1fk070f5fmuj20m80ui15i.jpg</string>
        </dict>
	</array>
	
    <array>
        <dict>
            <key>thumbnail</key>
            <string>http://wx3.sinaimg.cn/thumb150/78d702b2gy1fk07113nccj20m80rsak6.jpg</string>
            <key>large</key>
            <string>http://wx3.sinaimg.cn/mw690/78d702b2gy1fk07113nccj20m80rsak6.jpg</string>
        </dict>
        <dict>
            <key>thumbnail</key>
            <string>http://wx4.sinaimg.cn/thumb150/78d702b2gy1fk073aa84fj20q80xcqez.jpg</string>
            <key>large</key>
            <string>http://wx4.sinaimg.cn/mw690/78d702b2gy1fk073aa84fj20q80xcqez.jpg</string>
        </dict>
        <dict>
            <key>thumbnail</key>
            <string>http://wx3.sinaimg.cn/thumb150/78d702b2gy1fk0710bp39j20m80u313u.jpg</string>
            <key>large</key>
            <string>http://wx3.sinaimg.cn/mw690/78d702b2gy1fk0710bp39j20m80u313u.jpg</string>
        </dict>
    </array>
    
    <array>
        <dict>
            <key>thumbnail</key>
            <string>http://wx2.sinaimg.cn/thumb150/78d702b2gy1fk071ksxwkj20qo0x8487.jpg</string>
            <key>large</key>
            <string>http://wx2.sinaimg.cn/mw690/78d702b2gy1fk071ksxwkj20qo0x8487.jpg</string>
        </dict>
        <dict>
            <key>thumbnail</key>
            <string>http://wx1.sinaimg.cn/thumb150/78d702b2gy1fk0729rjk5j218s0m8gz2.jpg</string>
            <key>large</key>
            <string>http://wx1.sinaimg.cn/mw690/78d702b2gy1fk0729rjk5j218s0m8gz2.jpg</string>
        </dict>
        <dict>
            <key>thumbnail</key>
            <string>http://wx2.sinaimg.cn/thumb150/e9b3bee7gy1fkbr35nkozj20jo1xw12j.jpg</string>
            <key>large</key>
            <string>http://wx2.sinaimg.cn/mw690/e9b3bee7gy1fkbr35nkozj20jo1xw12j.jpg</string>
        </dict>
        <dict>
            <key>thumbnail</key>
            <string>http://wx4.sinaimg.cn/thumb150/78d702b2gy1fk071k5kcuj20z80m8nav.jpg</string>
            <key>large</key>
            <string>http://wx4.sinaimg.cn/mw690/78d702b2gy1fk071k5kcuj20z80m8nav.jpg</string>
        </dict>
        <dict>
            <key>thumbnail</key>
            <string>http://wx4.sinaimg.com/thumb150/a4314a35ly1fk9fp71417g20ar07bb29.gif</string>
            <key>large</key>
            <string>http://wx4.sinaimg.com/mw690/a4314a35ly1fk9fp71417g20ar07bb29.gif</string>
        </dict>
    </array>
    
</array>
</plist>
