<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
        <dict>
            <key>large</key>
            <string>Local_1.jpeg</string>
        </dict>
        <dict>
            <key>large</key>
            <string>Local_2.jpeg</string>
        </dict>
        <dict>
            <key>large</key>
            <string>Local_3.jpeg</string>
       </dict>
	</array>
	
    <array>
        <dict>
            <key>large</key>
            <string>Local_4.jpeg</string>
        </dict>
        <dict>
            <key>large</key>
            <string>Local_5.jpeg</string>
        </dict>
        <dict>
            <key>large</key>
            <string>Local_6.jpeg</string>
        </dict>
    </array>
    
    <array>
        <dict>
            <key>large</key>
            <string>Local_7.jpeg</string>
        </dict>
        <dict>
            <key>large</key>
            <string>Local_8.jpeg</string>
        </dict>
        <dict>
            <key>large</key>
            <string>Local_9.jpeg</string>
        </dict>
        <dict>
            <key>large</key>
            <string>Local_10.jpeg</string>
        </dict>
        <dict>
            <key>large</key>
            <string>Local_11.jpeg</string>
        </dict>
        <dict>
            <key>large</key>
            <string>Local_12.jpeg</string>
        </dict>
        <dict>
            <key>large</key>
            <string>Local_131.gif</string>
        </dict>
    </array>
    
</array>
</plist>
